<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387238791973-31ok49lk1h63m0nma29k7l0bba3itu9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387238791973-31ok49lk1h63m0nma29k7l0bba3itu9p</string>
	<key>API_KEY</key>
	<string>AIzaSyBdwPXiSgls1I7hKszJehoapgZzP0jFtVk</string>
	<key>GCM_SENDER_ID</key>
	<string>387238791973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.circlerush.circlerush</string>
	<key>PROJECT_ID</key>
	<string>circlerush-1cb6f</string>
	<key>STORAGE_BUCKET</key>
	<string>circlerush-1cb6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387238791973:ios:0d3b4ad029f542d56ea8cc</string>
</dict>
</plist>